
/*============================================
            Footer Section
  ============================================*/
  footer{
    padding: $padding;
    background-color: $btn-color;
    border-top: 1px dashed greenyellow;
    border-bottom: 1px dashed greenyellow;
}
.footer-txt{
    color:$white;
    text-align: center;
}
.go-to-top{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px dashed green;
    bottom: 50px;
    right: 10px;
    cursor: pointer;

    .fa{
        color: $btn-color;
        font-size: 20px;
        margin-top: 14px;
        margin-left: 14px;
    }
}
